html {
    min-width:650px;
}

header {
	background-image: url(../images/logoheader.png);
	background-size: cover;
	height: 688px;
}

a {
    text-decoration: none;
    color:#ffffff;
}

body {
	color: #161616;
	font: 20px 'PT Serif', serif;
	background-color: #efefef;
	margin: 0;
}

#wrapper {
	max-width: 100%;
	margin: 0 105px 0 84px;

}
.logotop {
	padding: 37px 0 0 0;
}

.flex-line {
    position: relative;
    display: flex;
    float: right;
    margin-top: 60px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.active {
	background: #130e27;
	color: #fff;
	border-color:transparent;
}

nav a {
	display:block;
	padding: 9px 15px 10px 15px;
	text-decoration: none;
	border-radius: 5px;
	font: 18px 'Montserrat', sans-serif;
	font-weight: normal;
	width: auto;
	height: 18px;
	color: #fff;
}

.contact {
    padding-right: 6px;
    padding-left: 6px;
}
nav a:hover {
	background: #130e27;
}
.sell {
	position: absolute;
    top:256px;
	margin-top: 0px;
    margin-left: 19px;
	margin-bottom: 0px;
	font: 90px 'Montserrat', sans-serif;
	font-weight: 700;
	color: #130e27;
	word-spacing: -8px;
	height: auto;
	padding: 0px;
	width: 550px;
	line-height: 0.9;

	}
.car {
    position: absolute;
    top:79px;
    color:#ffffff;
    font: 90px 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-weight: 700;
    width: 480px;
    line-height: 0.9;
}
.lorem {
position:absolute; top:445px;
max-width:550px;
height: auto;
font: 20px 'PT Serif', sans-serif;
color:#ffffff;
margin-left: 19px;

}
.form {
position:absolute; top:253px; right: 104px;
height:520px;
max-width:400px;
background-color:#ffffff;
border-radius: 5px;
z-index:1;
text-align: center;
box-shadow: 7px 11px 20px 0px rgba(0,0,0,0.25), -7px 2px 20px rgba(0,0,0,0.22);
}

.form input {
	font: 20px 'PT Serif', sans-serif;
	padding:16px;
	background:#eeeeee;
	margin: 0 0 15px;
	border: 0;
	border-radius: 5px;
	width: 318px;
}




.accept1 {
font: 22px 'Montserrat', sans-serif;
font-weight: 600;
padding:27.3px 0 23.3px 0;
margin-bottom: 15px;
text-align: center;}

.form button {
	color: #ffffff;
	background-color: #c62314;
	border: none;
	border-radius: 5px;
	padding:16px;
	margin: 20px 0 0 15px;
	height: 53px;
	width: 352px;
	font: 22px 'Montserrat', sans-serif;
	cursor: pointer;
	font-weight: 500;

}
/*/////////////////////////////////////////////////*/


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font: 20px 'PT Serif', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 40px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #c62314;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*/////////////////////////////////////////////////*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b5b5b5;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b5b5b5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b5b5b5;
}
.serv{
	min-height:447px;
	background:#ffffff;
	padding-top:35px;
}
.our {
	 font-family: 'COUTUREBold';
   font-weight: bold;
   font-style: normal;
font-size: 50px;
color:#c62314;
margin-left:19px;
}
.services {
	 font-family: 'COUTUREBold';
   font-weight: bold;
   font-style: normal;
font-size: 50px;
color:#130e27;
}
.flex-text {
margin-left: 17px;
margin-top: 76px;
display: flex; /*отображает контейнер как блочный элемент*/
justify-content: space-between;
align-items: center;
text-align: center;
}
.flex-text img {
	margin-bottom:29px;
}
.flex-text span {
	padding-bottom:20px;

}
.textserv1 {
width: 181px;
font: 20px 'PT Serif', sans-serif;
}
.textserv2 {
width: 173px;
font: 20px 'PT Serif', sans-serif;
}
.textserv3 {
width: 174px;
font: 20px 'PT Serif', sans-serif;
}
.textserv4 {
width: 170px;
font: 20px 'PT Serif', sans-serif;
}
.story {
background:#130e27;
padding-top:34px;
padding-bottom:34px;
}
.story p { max-width: 600px;
color:#efeff1;
font: 20px 'PT Serif', sans-serif;
margin-left:20px;
}
.ourstory{
float:right;
margin-top:-55px;
width:269px;
height:63px;
background-color:#c62314;
border-radius:5px;
border:0px;
font: 22px 'Montserrat', sans-serif;
color:#ffffff;
}
.ourstory a {
text-decoration:none;
font: 22px 'Montserrat', sans-serif;
color:#ffffff;
font-weight:500;
}
.pricing {
	min-height:540px;
background:#efefef;
margin-bottom:0px;
}
.pricing h1 {
text-align:center;
font: 50px 'Montserrat', sans-serif;
padding: 52px 0 50px 0px;
font-weight: 700;
color:#130e27;
}

.flex-price {
display:flex;
margin-left:15px;
justify-content: space-around;
align-items: baseline;
margin-bottom:0px;

}
.flex-price div {
	height:354px;
	width:317px;
	border-radius:5px 5px 0 0;
	background:#ffffff;
	text-align: center;
}
.ribbon {
position:relative;}
.ribbon:before {
	content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 65px 65px 65px 65px;
  border-color: transparent transparent #c62314 transparent;
  position: absolute;
  left:-65px;
  top: -65px;
  transform: rotate(-45deg);
  
}
.ribbon1 span {
position:absolute; top:95px;
left:-3px;
height: 16px;
width: 60px;
top: 20.5px;
transform: rotate(-45deg);
font: 16px 'PT Serif', sans-serif;
font-weight:500;

}
.priceblock {
	padding-top:26px;
	overflow:hidden;

}
.priceblock h3{
    font: 22px 'PT Serif', sans-serif;
color:#161616;
font-weight:500;
}
.priceblock h2{
    font: 60px 'Montserrat', sans-serif;
	color:#c62314;
	font-weight:700;
	padding-top:16px;
	padding-bottom:12px;
}
.priceblock p{
    font: 20px 'PT Serif', sans-serif;
	color:#161616;
	font-weight:500;
}

.priceblock button{
	font: 22px 'Montserrat', sans-serif;
	color:#ffffff;
	height:48.5px;
	width:204.5px;
	border-radius:5px;
	background:#130e27;
	font-weight:600;
	margin-top: 39.5px;
	border-color:transparent;
}

.singupbutton{
	font: 22px 'Montserrat', sans-serif;
	color:#ffffff;
	height:48.5px;
	width:204.5px;
	border-radius:5px;
	background:#c62314;
	font-weight:600;
	margin-top: 39.5px;
	border-color:transparent;
}
.singupb{
background:#c62314 !important;
}
.flex-last {
	display:flex;
	justify-content: space-around;
	align-items: stretch;
}
.last{
	min-height:690px;
	background:#ffffff;
	padding-bottom: 20px;
}
.block {
	min-height:100px;
	width:490px;
	margin-top: 150px;
}
.flex-last h1 {
	text-align:center;
font: 50px 'Montserrat', sans-serif;

font-weight: 700;
color:#130e27;
}
.gallery h1{
	color:#c62314;
}
.bravo{
position:relative;
margin-top:50px;
width:355px;
font: 20px 'PT Serif', sans-serif;
border-radius:5px;
padding: 20px 80px 20px 20px;
}

.bravo p:nth-child(4){
	font: 22px 'Montserrat', sans-serif;
	font-weight:600;
	color:#130e27;
}
.testimonial .bravo:nth-child(odd){
	background:#efefef;
	color:#c62314;
}
.myzik {
position:absolute;
right:-40px;
background-image: url(../images/myzik.png);
width: 104px;
height: 104px;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
box-shadow:7px 11px 20px 0px rgba(0,0,0,0.25), -7px 2px 20px rgba(0,0,0,0.22);
}


.baba {
position:absolute;
right:-40px;
background-image: url(../images/baba.png);
width: 104px;
height: 104px;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
box-shadow:7px 11px 20px 0px rgba(0,0,0,0.25), -7px 2px 20px rgba(0,0,0,0.22);

}
.flex-gal {
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.flex-gal img{
	width: 104px;
height: 104px;
margin: 50px 0 0 35px;
border-radius: 50%;
box-shadow:7px 11px 20px 0px rgba(0,0,0,0.25), -7px 2px 20px rgba(0,0,0,0.22);
}
.gallery{
width:490px;}
.gallery p{
	text-align:center;

padding-top: 40px;
}
.gallery a{color:#130e27;
font: 20px 'Montserrat', sans-serif;
font-weight:600;
text-decoration:underline;}

.footteerr {
position:relative;
background:#130e27;
padding-top:34px;
padding-bottom:34px;
}
.footteerr p { max-width: 600px;
color:#efeff1;
font: 20px 'PT Serif', sans-serif;
}
.footteerr a {
color:#c62314;
}
.footteerr img {
	position:absolute;
right:105px;
top:21.5px;
}
@media (max-width: 800px){

.flex-text{ flex-direction:column;}
}
@media (max-width: 1130px){
.flex-last {flex-direction:column; align-items: center;}
.flex-price {flex-direction:column; align-items: center;}
.flex-price div {margin-bottom:20px;}
.story {min-height:120px;text-align:center;}
.ourstory{float:none; margin-top:10px;}
.story p {margin-left:0px; max-width:100%;}
.pricing h1 {text-align: left;margin-left:19px;}
.footteerr img {position:static; right:0px; margin-top:10px;}
.footteerr {text-align:center;padding-bottom: 0px;}
.footteerr p {max-width:100%;}
.sell {font-size:50px; margin-left:0px;}
.car {font-size:50px; top:59px;}
.lorem {max-width:290px; top:380px; margin-left:0px;}
.form {top:140px;}
.flex-line {margin-right:-100px;}
}
@media (max-width: 915px) {
	.flex-line {margin-right:189px; margin-top: 25px; position:absolute;top:120px; float:none;}
	.form {top:200px;margin-right:-90px;}

}
@media (max-width: 815px){
	.accept1 {font: 18px 'Montserrat', sans-serif;font-weight:600; padding:20.3px 0 16.3px 0;}
.form input {font: 16px 'PT Serif', sans-serif; width:200px;}
.form button { width:200px; margin-top:10px;}
.form {height:490px; top:210px; max-width:250px; margin-right:-50px;}
.flex-line {margin-right:19px; margin-top: 25px;}
}
@media (max-width: 715px){ .form {height:490px; top:210px; max-width:250px; margin-right:-100px;}}
@media (max-width: 650px){
.form {display:none;}
.flex-line {flex-wrap:nowrap;}
}